body {
  margin: 8px;
  font-family: Avenir, Helvetica, Arial, "Work sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  font-weight: 500;
  line-height: 1.4;
  color: #fff;
  background-color: #1e4b74;
}
input {
  background-color: #BBC8D5;
  border-radius: 4px;
  font-size: 0.8em;
}
button {
  font-size: 1em;
  background-color: #BBC8D5;
  border-radius: 8px;
  border: 1px solid DarkSlateGray;
  margin: 4px 8px 4px 4px;
}
.header {
  display: block;
  position: relative;
  width:100%;
  height:3em;
  /* background:yellow; */
  /* border: 0.06em solid #999; */
}
.content {
  display: block;
  width: 100%;
  height: auto;
  /* border: 0.06em solid #999; */
}
.logoArea {
  float: right;
  width: 10%;
  height: 100%;
  /* background:orange; */
  /* border: 0.06em solid #999; */
}
.logoImg {
  display: block;
  max-height: 90%;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
.logoText {
  font-size: 0.8em;
  font-weight: bold;
  text-align: center;
  /* font-size:  calc(6px + 1vw); */
}
.titleText {
  position: relative;
  float: left;
  top: 10%;
  left: 10px;
  font-size: 1.5em;
  font-weight: 500;
  /* font-size:  calc(8px + 2vw); */
}
.inputfile {
  font-size: 1em;
  background-color: transparent;
  color: transparent;
  margin: 2px 8px 4px 4px;
}
.smallButton {
    font-size: 0.70em;
    background-color: #FFFFFF;
    border-radius: 4px;
    border: 1px solid Black;
    margin: 4px 8px 4px 4px;
}
#screen {
  flex: 1; /* fill remaining space */
  overflow: hidden;
}
.table {
  display: table;
}
.row {
  display: table-row;
}
.cell5p {
  display: table-cell;
  margin-right: 5px;
  margin-bottom: 5px;
  padding-right: 5px;
}
.cell10p {
  display: table-cell;
  margin-right: 10px;
  margin-bottom: 5px;
  padding-right: 10px;
}
.hidden {
  visibility: hidden;
}
.disabled {
  pointer-events:none;
  opacity: 0.5;
}
